body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 300px;
  height: 300px;
  background: none; /* MUY IMPORTANTE */
  margin-bottom: 20px;
}

.controles {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}
